body{        
        background-color: gray;
        padding-top: 60px;
        padding-bottom: 40px;
    }
    
    h1 {
  color: white;
  font-family: "verdana", Arial, san-serif;
  font-size:20px; 
  align: center;
  font-weight: bold;
}

	h2 {
  color: white;
  font-family: "verdana", Arial, san-serif;
  font-size:20px; 
  align: left;
  font-weight: bold;
}
	p {
  color: white;
  font-family: "verdana", Arial, san-serif;
  font-size:10px;
  margin: 40px;
}
    .container{
        height: 100vh;
	width: 100%
	background-image: URL('KEM-gray.jpg');
	background-size: cover;
	background-position: center;
        position: relative;
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }    
    
    nav a{
        color: #ffff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
    .container p{
        line-height: 200px; 
    }
    
   	.first{
    	color:white;
    }
    .img{
    width: 500px;
    height: 500px;
    }

.img2{
    width: 200px;
    height: 200px;
    }
</style>
</head>
<body>
<div class="fixed-header">
        <div class="container">
            <nav>
                <a href="#">Home</a>
                <a href="#">News</a>
                <a href="#">Music</a>
                <a href="#">Events</a>
                <a href="#">Contacts</a>
                <a href="#">videos</a>
            </nav>
        </div>
    </div>
    <div class="container">
</body>
</html>
