body {
	margin: 0;
	Background-color: gray;
	text-color: #ffffff;
	font-family:"verdana", Arial, san-serif;
	position: relative;
	padding-bottom: 16.8px;
	min-height: 100vh;
}

.header-main{
	Width: 100%;
	height: 60px;
	background-color: #ebf6f9;
	display: flex; 
	Justify-content: space-between;
}

.main{
	width: 90vw;
	margin: 0 auto;
	padding: 30px 20px;
	
}

.topnav{
	overflow: hidden;
	background-color:#ebf6f9
}

.topnav a{
	float: left;
    	padding: 14px 16px ;
	text-align: center;
	color: #000;
	text-decoration: none;
	font-size: 17px;	   
}

.topnav a:hover{
    	background-color: #ddd;
	color: black;	

}

.topnav a.active{
	background-color:#04AA6D;
	color: white;
}

.footer{
	text-align:center;
	background-color: #ebf6f9;
	color: black;
	Padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;


h1 {
	color: white;
	font-family: "verdana", Arial, san-serif;
	font-size:50px; 
	align: center;
	font-weight: bold;
}

h2 {
	color: white;
	font-family: "verdana", Arial, san-serif;
	font-size:24px; 
	align: center;
	font-weight: bold;
}
p {
	color: white;
	font-family: "verdana", Arial, san-serif;
	font-size:16px;
	margin: 20px;
}

.container {
    display: grid;		 
}

