body{        
	font-family: "verdana", Arial, san-serif;
	background-color: gray;
        color: white;
}*{
	margin:0;
	padding:0;
}
 header,footer{
	position: absolute;        
        background: #000;
	width: 100%;
	color:white;
}
header h2{
	position: absolute;
	margin-top:20px;
	left:20%
	color: lightblue;
}
header{
	height: 10vh;
}
footer{
	height: 10vh;
	bottom:0;
}
footer h2{
	position: absolute;
	left:25%;
}
.nav{
	position: absolute;
	width:100%;
}
nav a{
	position: relative;
 	left:45%
 	top:20px;
 	color:white;
 	text-decoration: none;
	 margin-right:20px;
	 padding: 7px 25px;
	 display: inline-block;
}
 footer p{
	position: absolute;
	left:48%;
	bottom:20px;
	color:light-blue
	
}
h1 {
	color: white;
	font-family: "verdana", Arial, san-serif;
	font-size:20px; 
	align: center;
	font-weight: bold;
}

h2 {
	color: white;
	font-family: "verdana", Arial, san-serif;
	font-size:20px; 
	align: left;
	font-weight: bold;
}
p {
	color: white;
	font-family: "verdana", Arial, san-serif;
	font-size:10px;
	margin: 40px;
}
 .container {
	display: grid;
		 
}
 .container a{
	height: 100vh;
	width: 100%
	background-image: URL('KEM-gray.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
 }   
.container p{
	line-height: 200px;
